header {
  width: 100%;
  align-items: center;
  color: $white;
  background-color: #1e1e1e;
  border-bottom: 1px solid grey;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    position: relative;
  }

  p {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    line-height: 30px;
    .circle {
      background-color: #f2994a;
      width: 32px;
      height: 32px;
      border-radius: 100%;
    }
  }
  @media (max-width: 480px) {
    p {
      font-size: 18px;
    }
  }
}
