header {
  width: 100%;
  align-items: center;
  color: $white;
  background-color: #1e1e1e;
  border-bottom: 1px solid grey;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
  }

  p {
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    line-height: 30px;
  }
}
